{
  "version" : "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "mutationName": "$context.info.fieldName",
    "bearerToken": "$context.request.headers.Authorization",
    "user":  $util.toJson($ctx.identity),
    "args": $util.toJson($ctx.args)
  }
}
